body {
  background-image: url(image/Stupa_Borobudur.jpg);
  background-attachment: scroll;
  background-size: cover;
}

.justify {
  background-image: url(image/avocado.jpg);
  border: 1px solid red;
  width: 700px;
  height: 480px;
  margin: 0 auto;
  color: blue;
  padding-top: 16px;
}

.repeat {
  background-image: url(image/avocado.jpg);
  border: 1px solid red;
  width: 700px;
  height: 480px;
  background-repeat: repeat-x;
  margin: 0 auto;
}
